In [7]:
# Loading Necessary Libraries 
import numpy as np
import pandas as pd
import Pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogesticRegressor

ModuleNotFoundError: No module named 'Pickle'

In [9]:
data ={
    "ApplicationScore":[50000,500000,5000000,500000000],
    "LoanAmount":[100,10000,100000,1000000],
    "Credit_History":[1,0,1,0],
    "Loan_Status":[1,0,1,0]
}
df=  pd.DataFrame(data)
df

   ApplicationScore  LoanAmount  Credit_History  Loan_Status
0             50000         100               1            1
1            500000       10000               0            0
2           5000000      100000               1            1
3         500000000     1000000               0            0